[user]
    email = 266145228+nix-ayush@users.noreply.github.com
    name = Ayush Kumar
    signingkey = ~/.ssh/signing.pub
[gpg]
    format = ssh
[commit]
    gpgsign = true
[init]
    defaultBranch = main
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
